<div class="product-item-wrapper">
  <i nz-icon *ngIf="!isWishListed; else fillHeart" nzType="heart" nzTheme="outline"
    (click)="addToWishList(product.id)"></i>
  <ng-template #fillHeart>
    <i nz-icon nzType="heart" nzTheme="fill" (click)="removeFromWishList(currentIdWishlist)"></i>
  </ng-template>

  <div class="product-item__image-wrapper">
    <img [defaultImage]="defaultImage" [offset]="100" [lazyLoad]="product.images[0].src" alt="" width="100%">
    <a [routerLink]="['/product', product.slug]" routerLinkActive="router-link-active" class="btn-add_to_cart">Thêm vào
      giỏ hàng</a>
  </div>
  <div class="product-item-contents">
    <p class="product-item__name">{{product.name}}</p>
    <p class="product-item__price">{{product.price | currency: 'VND':'symbol'}}</p>
  </div>

</div>